<?xml version="1.0"?>
<loggingConfiguration tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
  <listeners>
    <add name="Formatted Flat File TraceListener" fileName="error.log" formatter="Flat File Text Formatter"
         listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
         traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" />
  </listeners>
  <formatters>
    <add name="EventLog Text Formatter" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
         template="Timestamp: {timestamp(yyyy/MM/dd HH:mm:ss zzz)}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}" />
    <add name="Flat File Text Formatter" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
         template="[{timestamp(yyyy/MM/dd HH:mm:ss zzz)}] [{severity}] [{category}] {message}" />
  </formatters>
  <categorySources>
    <add switchValue="All" name="General">
      <listeners>
        <add name="Formatted Flat File TraceListener" />
      </listeners>
    </add>
    <add switchValue="All" name="Data Access">
      <listeners>
        <add name="Formatted Flat File TraceListener" />
      </listeners>
    </add>
    <add switchValue="All" name="Security">
      <listeners>
        <add name="Formatted Flat File TraceListener" />
      </listeners>
    </add>
    <add switchValue="All" name="Unhandled">
      <listeners>
        <add name="Formatted Flat File TraceListener" />
      </listeners>
    </add>
  </categorySources>
  <specialSources>
    <allEvents switchValue="All" name="All Events" />
    <notProcessed switchValue="All" name="Unprocessed Category" />
    <errors switchValue="All" name="Logging Errors &amp; Warnings">
      <listeners>
        <add name="Formatted Flat File TraceListener" />
      </listeners>
    </errors>
  </specialSources>
</loggingConfiguration>